html{
  background-color: #FFFF8B;
}

.title {
  font-family: "Titan One";
  color: #255000;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
}
#list{
    font-family: 'Itim';
    color: #255000;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}
#btn-delete{
    background-color: #F95738;
    color: white;
}