html{
  background-color: #FFFF8B;
}

.title {
  font-family: "Titan One";
  color: #255000;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
}
#list{
    font-family: 'Itim';
    color: #255000;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}
#btn-delete{
    background-color: #F95738;
    color: white;
}

@media (min-width: 744px) {
  .title {
      font-size: 70px;
      line-height: 80px;
    }
    #list{
      font-size: 27px;
      line-height: 35px;
  }
}
@media (min-width: 1024px) {
  .title {
      
      font-size: 85px;
      line-height: 80px;
    }
    #list{
      font-size: 35px;
      line-height: 45px;
  }
}